In [2]:
import pandas as pd
import numpy as np

In [6]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [8]:
data = pd.read_csv('water.txt', sep = '\t')
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [10]:
water_corr = data.corr()
water_corr.head()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [11]:
water_corr = data.corr(method='spearman')
water_corr.head()

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

KeyError: "['South'] not in index"